opencti:
  url: 'http://localhost'
  token: 'ChangeMe'
  
connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'Talos IP blacklist'
  scope: 'ipv4-addr'
  confidence_level: 3
  log_level: 'info'
  update_existing_data: true
  delete_old_data: true
  
talosip:
  max_tlp: 'TLP:AMBER'
  url: 'https://talosintelligence.com/documents/ip-blacklist'
  report_id: 'ChangeMe' #UUID4
  interval: 1 #day