opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_ENRICHMENT'
  name: 'Virustotal Reference'
  scope: 'domain,ipv4-addr,url,file-md5,file-sha1,file-sha256'
  confidence_level: 3
  log_level: 'info'

virustotal-reference:
  token: 'ChangeMe'
  max_tlp: 'TLP:AMBER'